.carousel_dot {
  height: 12px;
  width: 12px;
  margin: 0 4px;
  border-radius: 12px;
  background-color: var(--v-color-ornament-primary);
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.carousel_dot:disabled {
  background-color: var(--v-color-always-black);
  transition: background-color 0.2s ease-in-out;
}
.carousel_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--v-color-background-primary);
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid var(--v-color-always-black);
  color: var(--v-color-always-black);
}
.carousel_button:disabled {
  pointer-events: none;
  filter: opacity(0.5);
}
.slide_spacing {
  padding-right: 16px;
}

@media (min-width: 479px) {
  .slide_spacing {
    padding-right: 24px;
  }
}
